.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 200,
    'opsz' 48
}

:root {
    --lightGray: #E8E8E8;
    --white: #FFFFFF;
    --blue: #76C6F2;
    --darkGray: #333333;
}

body{
    margin: 0;
    background-color: var(--lightGray);
}

h1 {
    font-family: 'Inter', sans-serif;
    font-size: 32;
    
}

.header {
    display: flex;
    flex-direction: column;  
    background-color: var(--blue);
    height: 96px;
    width: 100%;    
    align-items: center;
    justify-content: center;
    border-radius: 0 0 15px 15px;
}

.titleApp {
    color: var(--darkGray);
}

.count {
    display: flex;
    flex-direction: column;
    align-items: center;       
}

.countBox{
    width: 342px;
    height: 175px;
    margin-top: 24px;
    background-color: var(--white); 
    border-radius: 15px;
}

.countTitle{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--blue);
    border-radius: 15px 15px 0 0;
}