.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 700,
    'GRAD' 200,
    'opsz' 48,
}

:root {
    --white: #FFFFFF;
    --blue: #76C6F2;
    --darkGray: #333333;
    --lightGray: #E8E8E8;
    --mediumGray: #868686;
}

body{
    margin: 0;
    background-color: var(--lightGray);
}

h1 {
    font-family: 'Inter', sans-serif;
    font-size: 32;
    
}

.header {
    display: flex;
    flex-direction: column;  
    background-color: var(--blue);
    height: 96px;
    width: 100%;    
    align-items: center;
    justify-content: center;
    border-radius: 0 0 15px 15px;
}

.titleApp {
    color: var(--darkGray);
}

.count {
    display: flex;
    flex-direction: column;
    align-items: center;       
}

.countBox{
    width: 342px;
    height: 176px;
    margin-top: 24px;
    background-color: var(--white); 
    color: var(--darkGray);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25)
}

.countTitle{    
    display: flex;
    justify-content: space-between;
    align-items: center;    
    background-color: var(--blue);
    border-radius: 15px 15px 0 0;
    padding: 0 16px 0 16px;
}

.countTitle h2 {
    font-family: 'Inter', sans-serif;    
    margin: 15px;    
}

.countValues {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 12px 18px;    
}

.countValues input {
    height: 100%;
    margin: 8px 0;
    font-family: 'Inter', sans-serif; 
    font-size: 14px;
    border-radius: 4px;
    border-color: var(--lightGray);
    border-style:solid;
}

#addSymbol {
    margin-top: 24px;
    font-size: 52px;
    color: var(--darkGray);
}